<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/snowretailing_db</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <mapping class="shlackAndCo.snowretailing.dal.entities.BrandEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.CharacteristicsEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.ContactDataEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.CredentialEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.EquipmentEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.EquipmentFeatureEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.EquipmentItemEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.OrderEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.PermissionsEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.RentEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.ReviewEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.RoleEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.TypeEntity"/>
        <mapping class="shlackAndCo.snowretailing.dal.entities.UserEntity"/>
    </session-factory>
</hibernate-configuration>
