/*Common*/

.title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.title-lower {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}

table {
    margin: 15px 0px;
    width: 100%;
}

.consister {
    max-height: 800px;
    overflow-y: auto!important;
}

table td {
    border: 1px solid lightgray;
    vertical-align: middle;
    text-align: center;
    padding: 7px;
}

table tbody tr:hover {
    background-color: lightskyblue;
}

*:focus {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: #cee8ee !important;
    overflow: auto;
    font-family: Arial;
    visibility: hidden;
}

/*Buttons*/

button {
    margin: 11px 10px!important;
    width: 150px;
}

label {
    margin: 11px 0px;
}

.logout-button {
    display: none;
}

.positive-button {

}

.warning-button {

}

.danger-button {

}

/*Message*/

#message {
    position: fixed;
    right: 10px;
    top: 60px;
    background-color: #f7faa2;
    padding: 20px;
    width: 300px;
    display: none;
    border-radius: 8px;
}

/*Header*/

header {
    height: 50px;
    background-color: cornflowerblue;
    border-bottom: 3px solid white;
    padding: 0;
    margin: 0 0 20px 0;
}

#brand {
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    padding: 8px 5px;
}

#info {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    padding: 11px 5px;
}

#additional-nav-buttons {
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
}

/*Central panel*/

main {
    background-color: white;
    border-radius: 10px;
    padding: 50px 30px;
    margin-bottom: 50px;
}

main > div {
    margin: 10px 0px;
    text-align: center;
}

/*Footer*/

footer {
    width: 100%;
    height: 30px;
    background-color: cornflowerblue;
    border-top: 3px solid white;
    position: fixed;
    bottom: 0;
}

/*Review*/

.reviews p {
    text-align: left;
}

.review {
    background-color: cornflowerblue;
    color: white;
    margin-top: 10px;
}

.review div {
    margin-top: 10px;
}

.review div.text {
    border-top: 3px solid white;
    margin-top: 0px;
    padding-top: 10px;
}

/*Bubble panel*/

.bubble-panel {
    padding: 30px;
    text-align: center;
    background-color: white;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    top: 30%;
    left: 33%;
    width: 34%;
    position: fixed;
    display: none;
}


