<nav class="navbar blue" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand waves-effect waves-light" href="#!/">SNOWRETAILING</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li ng-if="currentUser.role == 'ADMIN' || currentUser.role == 'ROOT'"><a href="#!users">Пользователи</a></li>
            </ul>
            <div ng-if="isAuthorized">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{currentUser.login}}</a></li>
                    <li><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
            <div ng-if="!isAuthorized">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!login">Sign in</a></li>
                    <li><a href="#!register">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>