<nav class="navbar light-blue darken-3" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand waves-effect waves-light" href="#!/"><strong>SNOWRETAILING</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li ng-if="currentUser.role == 'ADMIN' || currentUser.role == 'ROOT'"><a href="#!users">ПОЛЬЗОВАТЕЛИ</a></li>
                <li ng-if="currentUser.role == 'ADMIN' || currentUser.role == 'ROOT'"><a href="#!brands">БРЕНДЫ</a></li>
                <!--<li ng-if="currentUser.role == 'ADMIN' || currentUser.role == 'ROOT'"><a href="#!clients"></a>-->
                <li ng-if="currentUser.role == 'ADMIN' || currentUser.role == 'ROOT'"><a href="#!equipment_items">СНАРЯЖЕНИЯ</a></li>
                <li ng-if="currentUser.role == 'ADMIN' || currentUser.role == 'ROOT'"><a href="#!types">ТИПЫ СНАРЯЖЕНИЯ</a></li>
                <!--<li ng-if="currentUser.role == 'ADMIN' || currentUser.role == 'ROOT'"><a href="#!rents">ЗАКАЗЫ</a></li>-->
                <li ng-if="currentUser.role == 'ADMIN' || currentUser.role == 'ROOT'"><a href="#!orders">БРОНИ</a></li>
                <li ng-if="currentUser.role == 'USER'"><a href="#!user-orders">ВАШИ БРОНИРОВАНИЯ</a></li>
            </ul>
            <div ng-if="isAuthorized">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.login}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!editPassword">Изменить пароль</a></li>
                        </ul>
                    </li>
                    <li><a href="#" ng-click="logout()">ВЫЙТИ</a></li>
                </ul>
            </div>
            <div ng-if="!isAuthorized">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!login">ВХОД</a></li>
                    <li><a href="#!register">РЕГИСТРАЦИЯ</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>