<div class = "container scrollable-table" ng-if="currentUser.role == 'ADMIN' || currentUser.role == 'ROOT'" ng-controller = "BrandController" >
    <h4 class = "text-center">Наши бренды</h4>
    <p class="text-center"><button type="button" class="btn btn-info" ng-if="currentUser.role == 'ROOT' || currentUser.role == 'ADMIN'" ng-click="showModal('create',null)">Создать бренд</button></p>
                <table class = "table animated fadeInLeft">
                    <thead>
                        <tr>
                            <td>Бренд</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "brand in brands">
                            <td>{{brand.brandName}}</td>
                            <td ng-if="currentUser.role == 'ROOT' || currentUser.role == 'ADMIN'">
                                <a class="teal-text" ng-click="showModal('edit',brand)"><i class="fa fa-pencil"></i></a>
                                <a class="red-text" ng-click="showDeleteModal(brand)"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--Modal-->
                <div class="modal fade" id="modal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" ng-click="hideModal()">&times;</button>
                                <h4  ng-if="modalMode == 'edit'" class="modal-title">Edit  brand</h4>
                                <h4  ng-if="modalMode == 'create'" class="modal-title">Create new brand</h4>
                            </div>
                            <div class="modal-body">
                                <label for="inputBrand" class="sr-only">Login</label>
                                <input type="text" id="inputBrand" class="form-control" placeholder="Brand" required autofocus ng-model ="brand.brandName">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="modalMode == 'edit'" ng-click = "update(brand)">Edit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="modalMode == 'create'" ng-click = "create(brand)">Create</button>
                            </div>
                        </div>
                    </div>
                </div>

                       <!--ModalDelete-->
                <div class="modal fade" id="modal-delete" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content text-center">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" ng-click="hideModal()">&times;</button>
                                <h5 class="modal-title">Вы действительно хотите удалить бренд?</h5>
                            </div>
                            <button type="button" class="btn btn-default" ng-click="delete()">Удалить</button>
                        </div>
                    </div>
                </div>
</div>