<div class="container login-page col-lg-offset-4 col-lg-4" ng-if="isAuthorized" ng-controller="EditPasswordController">
    <form name="form" class="form-signin col-lg-offset-1 col-lg-10">
        <h4 class="form-signin-heading">Изменение пароля</h4>
        <label for="oldPassword" class="sr-only">Старый пароль</label>
        <input name="password" type="password" id="oldPassword" class="form-control" placeholder="Cтарый пароль" required autocomplete="off" ng-model="user.oldPassword" password>
        <span ng-show="form.password.$error.length">Длина пароля должна составлять от 3 до 20 символов</span>
        <label for="newPassword" class="sr-only">Новый пароль</label>
        <input name="newPassword" type="password" id="newPassword" class="form-control" placeholder="Новый пароль" required autocomplete="off" ng-model="user.newPassword" password>
        <span ng-show="form.newPassword.$error.length">Длина пароля должна составлять от 3 до 20 символов</span>
        <label for="confirmedNewPassword" class="sr-only">Подтвердите новый пароль</label>
        <input name="confirmedNewPassword" type="password" id="confirmedNewPassword" class="form-control" placeholder="Подтвердите новый пароль" required autocomplete="off" ng-model="user.confirmedNewPassword" password compare-to="newPassword">
        <span ng-show="form.confirmedNewPassword.$error.length">Длина пароля должна составлять от 3 до 20 символов</span>
        <span ng-show="form.confirmedNewPassword.$error.compare">Пароли не совпадают</span>
        <button class="btn btn-primary"  ng-disabled="form.password.$invalid || form.newPassword.$invalid || form.confirmedNewPassword.$invalid" type="submit" ng-click="change(user)">Изменить</button>
    </form>
</div>
