<div class="container home-page" ng-controller="HomeController">
    <h4 class="text-center">Наше оборудование</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <td><strong>Тип</strong></td>
                <td><strong>Бренд</strong></td>
                <td><strong>Модель</strong></td>
                <td><strong>Стоимость</strong></td>
                <td><strong>Количество</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="equipment in equipments">
                <td>{{equipment.name}}</td>
                <td>{{equipment.brandName}}</td>
                <td>{{equipment.model}}</td>
                <td>{{equipment.cost}}</td>
                <td>{{equipment.quantity}}</td>
                <td ng-if="currentUser.role == 'ROOT'">
                    <a class="teal-text" ng-click="showModal('edit',equipment)"><i class="fa fa-pencil"></i></a>
                    <a class="red-text" ng-click="delete(equipment.id)"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-info btn-lg" ng-if="currentUser.role == 'ROOT'" ng-click="showModal('create',null)">Create new equipment</button>

    <h4 class="text-center">Отзывы о нас</h4>

    <div class="panel panel-default" ng-repeat="review in reviews">
        <div class="panel-body">{{review.review}}</div>
        <div class="panel-footer">
            <small>Пользователь: {{review.user.login}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small>
            <small ng-if="review.mark">Оценка: хорошо&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small>
            <small ng-if="!review.mark">Оценка: плохо&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small>
            <small>Дата отзыва: {{review.dateCreate | date:'yyyy-MM-dd hh:mm'}}</small>
            <small ng-if="currentUser.role == 'ROOT'">
                    <a class="teal-text" ng-click="showModalReview('edit',review)"><i class="fa fa-pencil"></i></a>
                    <a class="red-text" ng-click="deleteReview(review.id)"><i class="fa fa-times"></i></a>
            </small>
        </div>
    </div>
    <button type="button" class="btn btn-info btn-lg" ng-if="isAuthorized" ng-click="showModalReview('create',null)">Create new review</button>

    <!--Modal-->
    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4  ng-if="modalMode == 'edit'" class="modal-title">Edit  equipment</h4>
                    <h4  ng-if="modalMode == 'create'" class="modal-title">Create new equipment</h4>
                </div>
                <div class="modal-body">
                    <label for="inputModel" class="sr-only">Model</label>
                    <input type="text" id="inputModel" class="form-control" placeholder="Model" required autofocus ng-model ="equipment.model">
                    <label for="inputModel" class="sr-only">Role</label>

                    <select ng-model = "equipment.brandName" class="form-control" id="inputBrand">
                        <option ng-repeat="brand in brands" ng-selected="equipment.brandName == brand.brandName" value="{{brand.brandName}}">{{brand.brandName}}</option>
                    </select>

                    <label for="inputType" class="sr-only">Type</label>
                    <select ng-model = "equipment.name" class="form-control" id="inputType">
                        <option ng-repeat="type in types" ng-selected="equipment.type == type.name" value="{{type.name}}">{{type.name}}</option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="modalMode == 'edit'" ng-click = "update(equipment)">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="modalMode == 'create'" ng-click = "create(equipment)">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!--ReviewModal-->
    <div class="modal fade" id="modal-review" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4  ng-if="modalMode == 'edit'" class="modal-title">Edit  review</h4>
                    <h4  ng-if="modalMode == 'create'" class="modal-title">Create new review</h4>
                </div>
                <div class="modal-body">
                    <label for="inputReview" class="sr-only">inputReview</label>
                    <textarea type="text" id="inputReview" class="form-control" placeholder="Enter your Review..." required autofocus ng-model ="review.review"></textarea>
                    <label for="inputMark" class="sr-only">Mark</label>

                    <select ng-model = "review.mark" class="form-control" id="inputMark">
                        <option ng-selected="review.mark == 1" value="1">Хорошо</option>
                        <option ng-selected="review.mark == 0" value="0">Плохо</option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="modalMode == 'edit'" ng-click = "updateReview(review)">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="modalMode == 'create'" ng-click = "createReview(review)">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>