<div class="container login-page col-lg-offset-4 col-lg-4" ng-controller="LoginController">
    <form class="form-signin col-lg-offset-1 col-lg-10">
        <h4 class="form-signin-heading">Пожалуйста, войдите</h4>
        <label for="inputLogin" class="sr-only">Логин</label>
        <input type="text" id="inputLogin" class="form-control" placeholder="Логин" required autocomplete="off" ng-model="user.login">
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required autocomplete="off" ng-model="user.password">
        <button class="btn btn-primary" type="submit" ng-click="login(user)">Войти</button>
    </form>
</div>
