<div class = "container scrollable-table" ng-controller = "OrderController" >
    <h4 class = "text-center">Наши брони</h4>
    <p class="text-center animated fadeInRight"><button type="button" class="btn btn-info" ng-if="currentUser.role == 'ROOT'" ng-click="showModal('create',null)">Создать бронь</button></p>
        <div ng-if="isAuthorized">
                <table class = "table animated fadeInLeft">
                    <thead>
                        <tr>
                            <td>Пользователь</td>
                            <td>id оборудования</td>
                            <td>Дата создания</td>
                            <td>Дата возврата</td>
                            <td>Состояние</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "order in orders">
                            <td>{{order.userName}}</td>
                            <td>{{order.equipmentItem.id}}</td>
                            <td>{{order.dateOrder | date:'yyyy-MM-dd hh:mm'}}</td>
                            <td>{{order.dateOrderExpire | date:'yyyy-MM-dd hh:mm'}}</td>
                            <td>
                                <span ng-if="order.state==1">Активна</span>
                                <span ng-if="order.state==0">Не активна</span>
                            </td>
                            <td ng-if="isAuthorized">
                                <a class="teal-text" ng-click="showModal('edit',order)"><i class="fa fa-pencil"></i></a>
                                <a class="red-text" ng-click="showDeleteModal(order)"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>


    <!--Modal-->
    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="hideModal()">&times;</button>
                    <h4  ng-if="modalMode == 'edit'" class="modal-title">Edit  order</h4>
                    <h4  ng-if="modalMode == 'create'" class="modal-title">Create new order</h4>
                </div>
                <div class="modal-body">
                    <label for="inputId" class="sr-only">Id</label>
                    <input type="text" id="inputId" class="form-control" placeholder="ID" required autofocus ng-model ="order.equipmentItem.id">
                    <label for="inputDate" class="sr-only">Date</label>
                    <input type="text" id="inputDate" class="form-control" placeholder="Date Order" required ng-model ="order.dateOrder">
                    <label for="inputDateExpire" class="sr-only">DateExpire</label>
                    <input type="text" id="inputDateExpire" class="form-control" placeholder="Date Order Expire" required ng-model ="order.dateOrderExpire">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="modalMode == 'edit'" ng-click = "update(order)">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="modalMode == 'create'" ng-click = "create(order)">Create</button>
                </div>
            </div>
        </div>
    </div>

       <!--ModalDelete-->
    <div class="modal fade" id="modal-delete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="hideModal()">&times;</button>
                    <h5 class="modal-title">Вы действительно хотите удалить бронь?</h5>
                </div>
                <button type="button" class="btn btn-default" ng-click="delete()">Удалить</button>
            </div>
        </div>
    </div>

</div>