<div class="container" ng-controller="UsersEditController" ng-if="currentUser.role == 'ADMIN' || currentUser.role == 'ROOT'">
    <table class="table">
        <thead>
            <tr>
                <th>Логин</th>
                <th>Роль</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "user in users">
                <td>{{user.login}}</td>
                <td>{{user.role.roleName}}</td>
                <td ng-if="currentUser.role == 'ROOT'">
                    <a class="blue-text"><i class="fa fa-user"></i></a>
                    <a class="teal-text"><i class="fa fa-pencil"></i></a>
                    <a class="red-text"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>