<div class="container users-edit-page" ng-controller="UsersEditController" ng-if="currentUser.role == 'ADMIN' || currentUser.role == 'ROOT'">
    <h4 class="text-center">Пользователи</h4>
    <p class="text-center"><button type="button" class="btn btn-info" ng-if="currentUser.role == 'ROOT'" ng-click="showModal('create',null)">Создать пользователя</button></p>
    <table class="table">
        <thead>
            <tr>
                <th>Логин</th>
                <th>Роль</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.login}}</td>
                <td>{{user.role.roleName}}</td>
                <td ng-if="currentUser.role == 'ROOT'">
                    <a class="teal-text" ng-click="showModal('edit',user)"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="red-text" ng-click="showDeleteModal(user)"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <!--Modal-->
    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="hideModal()">&times;</button>
                    <h5 ng-if="modalMode == 'edit'" class="modal-title">Редактирование пользователя</h5>
                    <h5 ng-if="modalMode == 'create'" class="modal-title">Создание нового пользователя</h5>
                </div>
                <div class="modal-body col-lg-offset-1 col-lg-10 text-left">
                    <label for="inputLogin" class="sr-only">Логин</label>
                    <input type="text" id="inputLogin" class="form-control" placeholder="Логин" required autofocus autocomplete="off" ng-model="user.login">
                    <label for="inputPassword" class="sr-only">Пароль</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required autocomplete="off" ng-model="user.password">
                    <label for="inputRole">Роль</label>
                    <select ng-model="user.roleId" class="form-control" id="inputRole">
                        <option ng-selected="user.roleId == 1" value="1">USER</option>
                        <option ng-selected="user.roleId == 2" value="2">ADMIN</option>
                    </select>
                </div>
                <button type="button" class="btn btn-default" ng-if="modalMode == 'edit'" ng-click="update(user)">Редактировать</button>
                <button type="button" class="btn btn-default" ng-if="modalMode == 'create'" ng-click="create(user)">Создать</button>
            </div>
        </div>
    </div>

       <!--ModalDelete-->
    <div class="modal fade" id="modal-delete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="hideModal()">&times;</button>
                    <h5 class="modal-title">Вы действительно хотите удалить пользователя?</h5>
                </div>
                <button type="button" class="btn btn-default" ng-click="delete()">Удалить</button>
            </div>
        </div>
    </div>

</div>
